/* Loader.css */

.loader-container {
  position: fixed; /* Фиксированное позиционирование на экране */
  top: 0;
  left: 0;
  width: 100vw; /* Занимает всю ширину экрана */
  height: 100vh; /* Занимает всю высоту экрана */
  display: flex; /* Используем Flexbox для центрирования */
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  z-index: 9999; /* Размещаем поверх других элементов */
}
