.profile-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f6f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px #333 solid;
    overflow: hidden;
    width: 300px;
    margin: auto;
    font-family: Arial, sans-serif;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 20px;
    border: 2px solid #e0e0e0;
    background-color: #333;
}

.profile-username {
    font-weight: bold;
    font-size: 24px;
    margin: 5px 0;
    color: #333;
}

.profile-tag,
.profile-location {
    color: #808080;
    font-size: 16px;
}

.profile-list {
    display: flex;
    width: 100%;
    background-color: #e9ecef;
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-item {
    flex: 1;
    padding: 15px 0;
    text-align: center;
    border-right: 1px solid #ccc;
}

.profile-text {
    display: block;
    color: #808080;
}

.profile-textb {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}