body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.app-title {
  text-align: center;
  font-size: 32px;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
}